.landing{
    background: url('assets/img/background.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.logos {
    width: 150px;
    height: 150px;
}

.openai{
    background: url('assets/img/logos/chatgpt.png');
    background-size:contain;    
    background-position: center;
    background-repeat: no-repeat;
}

.golang{
    background: url('assets/img/logos/golang.png');
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
}

.grapesjs{
    background: url('assets/img/logos/grapesjs.png');
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
}

.threejs{
    background: url('assets/img/logos/threejs.png');
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
}

.chartjs{
    background: url('assets/img/logos/chartjs.png');
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
}

.gallery{
    border:5px solid yellowgreen;
    width: 600px;
    height: 400px;
}

.header-text{
    border-top:1px solid green;
    border-bottom:1px solid green;
}

.chatgpt_1{
    background: url('assets/img/gallery/chatgpt1.jpg');
    background-size:cover;
}
.chatgpt_2{
    background: url('assets/img/gallery/chatgpt2.jpg');
    background-size:cover;
}
.golang_1{
    background: url('assets/img/gallery/golang1.png');
    background-size:cover;
}
.golang_2{
    background: url('assets/img/gallery/golang2.jpg');
    background-size:cover;
}
.grapesjs_1{
    background: url('assets/img/gallery/grapesjs1.png');
    background-size:cover;
}
.grapesjs_2{
    background: url('assets/img/gallery/grapesjs2.png');
    background-size:cover;
}
.grapesjs_3{
    background: url('assets/img/gallery/grapesjs3.jpg');
    background-size:cover;
}
.threejs_1{
    background: url('assets/img/gallery/threejs1.jpg');
    background-size:cover;
}
.threejs_2{
    background: url('assets/img/gallery/threejs2.jpg');
    background-size:cover;
}
.chartjs_1{
    background: url('assets/img/gallery/chartjs1.png');
    background-size:cover;
}
.chartjs_2{
    background: url('assets/img/gallery/chartjs2.jpg');
    background-size:cover;
}
.chartjs_3{
    background: url('assets/img/gallery/chartjs3.png');
    background-size:cover;
}